* {margin: 0;
    padding: 0;
    font-size: 62.5%;
}

html {overflow-x: hidden;}

/*页眉*/
.header {width: 100%;
    height: 2rem;
    padding: .5rem 0;
    text-align: left;
}
.header-1 {
    display: inline-block;
    float: right;
    width: 2.5rem;
    height: 2.4rem;
    margin: 0 1rem;
}

.header-2 {display: inline-block;
    float: right;
    width: 2.5rem;
    height: 2.4rem;
    margin: 0 1rem;
}
.header-3 {display: inline-block;
    float: right;
    width: 2.5rem;
    height: 2.4rem;
    margin: 0 1rem;
}
.header-text {font-size: 1.5rem;
    color: #29b078;}

.header-row-2 {position: relative;
    width: 100%;
    height: 100%;
}

.header-green {width: 100%;

    background: #29b078;
}
.header-green-box {position: relative;
    width: 8rem;
    height: 7.9rem;
    float: right;
    cursor: pointer;
    text-align: center;
    background: #29b078;
}
.header-green-text {padding-top: 3rem;
    font-size: 1.5rem;
    color: #ffffff;
}
.header-green-box-1 {position: absolute;
    display: block;
    width: 100%;
    height: .3rem;
    background: #ffffff;
    opacity: 0;
}
.header-green-box:hover .header-green-box-1{position: absolute;
    display: block;
    width: 100%;
    height: .3rem;
    background: #ffffff;
    opacity: 1;
}





/********************/

.bb {margin: 0;
    border-color: #29b078;}


.navbar-default {background-color: #29b078;}

.navbar-collapse {
    float: right;
}

.navbar-header {height: 9rem;}




/*这里开始是主要内容*/
.main {position: relative;
    width: 100%;
    background: #fafafa;
    padding: 0 7.5% 0 7.5%;
    }

.main1 {position: relative;
    width: 100%;
    border-bottom: 2px solid #d0d6d9;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 6rem;
    color: #000000;
    }
    .main1-text {display: inline-block;
    }
    .main1 span {display: inline-block;
        color: #29b078;}



    .main2 {position: relative;
        width: 100%;
        border-bottom: 2px solid #e6f1e8;
        font-size: 2rem;
        font-weight: bold;
        line-height: 5rem;
        color: #999999;
        }
        .main2-text {display: inline-block;
        }

    .main2-ul {display: inline-block;
        white-space:nowrap;
        vertical-align: middle;
        list-style: none;
        }
        .main2-ul li {padding: .2rem .3rem;
            margin: 0  1.5rem;
            float:left;
            line-height: 1rem;
            cursor: pointer;
            color: #000000;
            background: #fafafa;
            font-size: 1.2rem;
            }
        .main2-ul li:hover {color: #ffffff;
            background: #29b078;
            }



/*这里开始是图片区域*/

    .main3 {position: relative;
        width: 100%;
        border-bottom: 2px #d0d6d9 solid;
        font-size: 2.5rem;
        line-height: 6rem;
        font-weight: bold;
        }
    .main4 {position: relative;
        width: 100%;
        padding: 5rem 0 0 0;
        margin-left: -32px;
        margin-right: -32px;
        background: #fafafa;
        }

    .main4-2 {position: relative;
        width: 100%;
        height: 87.5rem;
        padding: 5rem 0 0 0;
        background: #fafafa;
        }

    .main5 {position: relative;
        width: 100%;
        height: 40rem;
        float: left;
        padding: 0;
        overflow: hidden;
        margin-bottom: 3rem;
        margin-left: -1rem;
        border: 2px #c9c9c9 solid;
        background: #ffffff;
        }
        .main5-1 {position: relative;
            width: 29rem;
            height:  13rem;
            overflow: hidden;
            padding: 2%;
            }
        .main5-1img {
            float: left;
            margin-right: 2rem;
            }
            .main5-1-text1 {
                padding: .5rem  0 ;
                margin: 0;
                overflow: hidden;
                 font-size: 2rem;
                 line-height: 2rem;
                 }
            .main5-1-text2 {
                padding: 0 0 2rem 0;
                overflow: hidden;
                font-size: 1.3rem;
                line-height: 1.7rem;
                }

        .main5-2 {position: relative;
            width: 50%;
            height: 2.5rem;
            padding: .5rem 1rem;
            float: left;
            word-break:break-all;
            word-wrap:break-word;
            border-top: 1.5px #c9c9c9 solid;
            border-bottom: 1.5px #c9c9c9 solid;
            border-right: 1.5px #c9c9c9 solid;
            font-size: 2rem;
            color: #999999;
            }
        .main5-2png {position: absolute;
            top: 20%;
            left: 30%;
            padding-left: 5%;}
        .main5-3 {position: relative;
            width: 50%;
            height: 2.5rem;
            padding: 0.5rem 1rem;
            float: left;
            border-top: 1.5px #c9c9c9 solid;
            border-bottom: 1.5px #c9c9c9 solid;
            font-size: 2rem;
            color: #999999;
            }
        .main5-3png1 {position: absolute;
            top: 20%;
            left: 47%;
            padding-left: 5%;}
        .main5-3png2 {position: absolute;
            top: 20%;
            left: 68%;
            padding-left: 5%;}


        /*薪资待遇*/
        .main5-4 {position: relative;
            display: inline-block;
            width: 40%;
            height: 13.2rem;
            float: left;
            border-right: 1.5px #999999 solid;
            border-bottom: 1.5px #999999 solid;
            text-align: center;
            line-height: 13rem;
            font-size: 2rem;
            color: #c9c9c9;
            }
        .main5-5 {position: relative;
            width: 59.5%;
            float: left;
            }
            .main5-5-1 {position: relative;
                display: inline-block;
                width: 100%;
                height: 4.4rem;
                padding: 1.5rem 5%;
                border-bottom: 1.5px #999999 solid;
                text-align: left;
                font-size: 2rem;
                }
            .main5-5-1 span {float: right;
                text-align: left;
                font-size: 1.3rem;
                }

        .main5-6 {position: relative;
            width: 100%;
            height: 4rem;
            padding: 3% 2.5%;
            float: left;
            border-bottom: 1.5px #999999 solid;
            font-size: 2rem;
            font-weight: bold;
            }
            .main5-6 span {color: #ff0000;}

        .main5-7 {position: relative;
            width: 95%;
            height: 3%;
            padding: 3% 2.5%;
            float: left;
            font-size: 1rem;
            font-weight: bold;
            color: #a1a1a1;
        }


        .ios {position: absolute;
            top:0;
            width: 100%;
            height: 100%;
            background: #000000;
            opacity: .8;
            }
            .ios-1 {position: relative;
                width:100%;
                height: 5%;
                padding: 10% 0 5% 0;
                text-align: center;
                color: #ffffff;
                font-weight: bold;
                font-size: 2.5rem;
                }
            .ios-2 {position: relative;
                width:100%;
                height: 5%;
                text-align: left;
                text-indent:3rem;
            }
            .ios-2-text {padding: 2% 10% 5% 10%;
                color: #ffffff;
                font-weight: bold;
                font-size: 1.7rem;}



/*最后一个div*/
.content4-div {
    width: 100%;
    background: #26a26f;
}
.content4-div1 {position: relative;
    width: 100%;
    height: 100%;
    padding-left:10%;
    float: left;
}
.content4-div1-1 {position: relative;
    width: 100%;
    height: 50%;
    font-size: 1.8rem;
    color: #ffffff;
    line-height: 10rem;
}
.content4-div1-2 {position: relative;
    width: 100%;
    height: 50%;
    font-size: 1.8rem;
    color: #ffffff;
    line-height: 9rem;
}

.content4-div2 {position: relative;
    width: 100%;
    height: 100%;
    float: left;
}
.content4-div3 li{font-size: 1.5rem;
    color: #ffffff;
    list-style:none;
    line-height: 6rem;
}

.content4-div4 {position: relative;
    width: 100%;
    height: 15rem;
    padding-top: 3%;
    float: left;
    font-size: 1.8rem;
    color: #ffffff;
}
.content4-div5 {position: relative;;
    width: 100%;
    height: 50%;
    background: url("images/task8-1-19.png") no-repeat left;
}





.foot {position: relative;
    width: 100%;
    height: 2.5rem;
    border-top:1px #ffffff solid ;
    background: #29b078;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}

