* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
.part {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.header {
  width: 96%;
  padding: 2rem 2%;
  overflow: hidden;
  margin: 0 auto;
  background: #29bde0;
  color: #ffffff;
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 1px #ffffff solid;
}
.header .header-img1 {
  width: 2.5rem;
  float: left;
}
.header .header-img2 {
  width: 1.8rem;
  float: right;
}
.main1 {
  width: 96%;
  padding: 2rem 2%;
  margin: 0 auto;
  text-align: center;
  background: #29bde0;
}
.main1 .main-img {
  width: 50%;
}
.main2 {
  width: 90%;
  padding: 2rem 5%;
  margin: 0 auto;
  line-height: 2.5rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: #e48728;
  background: #29bde0;
}
.main3 {
  width: 90%;
  padding: 2rem 5%;
  margin: 0 auto;
  line-height: 2.5rem;
  font-size: 2.5rem;
  color: #ffffff;
  background: #29bde0;
}
.main4 {
  width: 90%;
  padding: 2rem 5%;
  margin: 0 auto;
  background: #ffffff;
  border-bottom: 1px #cccccc solid;
  font-size: 2.8rem;
  color: #cccccc;
}
.main4 h2 {
  font-size: 2.5rem;
  line-height: 4rem;
}
.main4 h2 span {
  float: right;
  font-size: 1.8rem;
  color: #cccccc;
}
.foot {
  position: fixed;
  width: 46%;
  bottom: 0;
  padding: 2rem 2%;
  margin: auto;
  overflow: hidden;
  background: rgba(0, 150, 200, 0.5);
}
.foot .but1 {
  width: 45%;
  padding: 2rem 0;
  float: left;
  border: none;
  background: #d43f3a;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
}
.foot .but2 {
  width: 45%;
  padding: 2rem 0;
  float: right;
  border: none;
  background: #e1b123;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .part {
    width: 100%;
  }
  .foot {
    width: 96%;
  }
}
